// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body,
p,
h2
  font-family: 'Eurostile LT W01'

h1
  font-family: 'OCR A Extended W01'

.form-control.parsley-error
  border-color: #A94442 !important
